#search-form{
    margin-top: 0px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  margin-inline: auto;
  max-width: 600px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

#search-input {
 
  padding: 15px 20px;
  font-size: 1rem;
  flex-grow: 1;
  border: 1px solid #e9ecef;
  border-radius: 8px 0 0 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

#search-input:focus {
  border-color: var(--primary-color);
}

#search-button {
  padding: 13px 25px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: var(--primary-dark);
}
