
.recipe-finder-container {


    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  margin-top: 30px;

  max-width: 1200px;
  padding: 0 15px;
  text-align: center;
  margin-inline: auto;
 
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
@media(min-width:1024px){
    .welcome-heading{
        margin-top: 25vh;
    }
}
.welcome-heading {
  margin-top: 20vh;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  /* z-index:0 */
}

.background-image {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/recipe_bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
.random-button {

  padding: 10px 25px;
  font-size: 0.95rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #ff9800;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.random-button-container{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.random-button:hover {
  background-color: #f97d00;
  transform: translateY(-2px);
}


.recipe-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

