:root {
  --light-bg: #f8f9fa;
  --text-dark: #343a40;
  --primary-color: #4caf50;
  --primary-dark: #45a049;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  padding: 30px 15px;
  background-color: var(--light-bg);
  color: var(--text-dark);
}


